.cocktailSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  border: #a60000 1px solid;
  margin: 1rem;
  width: 100%;
  height: 20vh;
}

.searchTags {
  border: blueviolet 1px solid;
  margin: 1rem;
  width: 100%;
  height: 5vh;
}

.searchedCocktailsContainer {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  row-gap: 2px;
  width: 90vw;
  margin-bottom: 2rem;
}

.searchedCocktailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  box-shadow: 0 0 20px 0 var(--little-dark-white);
  min-height: 400px;
}

.searchedCocktailContainer:hover {
  box-shadow: 0 0 20px 10px var(--little-dark-white);
}

.searchedCocktailImage > img {
  width: 300px;
}

@media screen and (max-width: 1024px) {
  .searchedCocktailsContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
  }

  .searchedCocktailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 30vw;
  }

  .searchedCocktailImage > img {
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .searchedCocktailsContainer {
    grid-template-columns: repeat(1, 1fr);
    min-width: 300px;
  }
}
