.cocktailSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.searchContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 5rem 1rem 5rem 1rem;
}

.search {
  display: flex;
  align-items: center;
  width: 500px;
  min-width: 250px;
  height: 30px;
  border-bottom: var(--little-light-black) 1px solid;
}

.search input {
  height: 100%;
  width: 100%;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  font-size: 20px;
  outline: none;
  border: none;
}

.searchButtonContainer {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.tagsContainer {
  background-color: gray;
  margin: 1rem;
  width: 100%;
  height: 5vh;
}

.searchedCocktailsContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: minmax(auto, 410px);
  gap: 2em;
  margin-bottom: 2rem;
  user-select: none;
}

.searchedCocktailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 var(--little-dark-white);
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.searchedCocktailContainer:hover {
  box-shadow: 0 0 20px 10px var(--little-dark-white);
}

.searchedCocktailName {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
  font-size: 18px;
  border-bottom: var(--little-light-black) 1px solid;
}

.searchedCocktailImage {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  height: 280px;
  width: 280px;
}

.searchedCocktailImage > img {
  height: 100%;
  width: 100%;
  pointer-events: none;
  object-fit: contain;
}

.searchedCocktailTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.cocktailSearchInput {
  margin-left: 8px;
}

.autoCocktailWords {
  z-index: 100;
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  width: inherit;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 240px;
  cursor: default;
}

.autoCocktailWords .highlight {
  background-color: rgba(166, 0, 0, 0.9);
  color: white;
}

.autoCocktailWord {
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  .searchedCocktailsContainer {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
    width: 80vw;
  }

  .searchedCocktailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0 var(--little-dark-white);
  }

  .searchedCocktailImage > img {
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .searchedCocktailsContainer {
    grid-template-columns: repeat(1, 280px);
  }

  .searchContainer {
    margin: 2rem 1rem 3rem 1rem;
  }

  .searchedCocktailImage {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    height: 220px;
    width: 220px;
  }

  .searchedCocktailImage > img {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .search {
    width: 280px;
    height: 2rem;
  }
}
