.cocktailSearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  user-select: none;
  overflow-anchor: none;
}

.searchContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 3rem auto 0 auto;
}

.search {
  display: flex;
  align-items: center;
  width: 500px;
  min-width: 250px;
  height: 30px;
  border-bottom: var(--little-light-black) 1px solid;
}

.search input {
  height: 100%;
  width: 100%;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  font-size: 20px;
  outline: none;
  border: none;
}

.searchButtonContainer {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.tagsContainer {
  background-color: gray;
  margin: 1rem;
  width: 100%;
  height: 5vh;
}

.searchedCocktailsContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: minmax(auto, 410px);
  gap: 2em;
  margin: 3rem 0;
}

.searchedCocktailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 var(--little-dark-white);
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.searchedCocktailContainer:hover {
  box-shadow: 0 0 20px 10px var(--little-dark-white);
}

.searchedCocktailName {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1.5rem 0.2rem 1.5rem;
  font-size: 18px;
  border-bottom: var(--little-light-black) 1px solid;
}

.favoriteContainer {
  display: flex;
  position: relative;
  top: -1.5rem;
  right: -6rem;
  height: 0;
}

.searchedCocktailImage {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  height: 280px;
  width: 280px;
}

.searchedCocktailImage > img {
  height: 100%;
  width: 100%;
  pointer-events: none;
  object-fit: contain;
}

.searchedCocktailTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.searchTabContainerBox {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.searchTabContainer {
  display: inline-block;
  align-self: flex-end;
  margin-top: 3rem;
  border-bottom: solid gray 1px;
}

.clickedTab,
.unclickedTab {
  outline: 0;
  display: inline-block;
  color: gray;
  background-color: transparent;
  font-size: 16px;
  padding: 0.2rem 0.8rem;
  border: 0 solid var(--sharp-red);
  cursor: pointer;
}

.clickedTab {
  color: var(--sharp-red);
  font-weight: bold;
  border-bottom-width: 2px;
  transition: 0.2s all;
}

.unclickedTab:hover {
  color: var(--little-light-red);
}

.cocktailSearchInput {
  margin-left: 8px;
}

.autoCocktailWords {
  z-index: 100;
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  width: inherit;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 0 0 20px 0 var(--little-dark-white);
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 240px;
  cursor: default;
}

.autoCocktailWords .highlight {
  background-color: var(--sharp-red);
  color: white;
}

.autoCocktailWord {
  padding: 8px;
}

.tagSelectButtonContainer {
  display: flex;
  justify-content: center;
}

.tagSelectButton {
  display: none;
}

.tagFilterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto 0 auto;
  width: 80%;
}

.filterTag {
  margin: 0.2rem 0.15rem;
  border: 0.02rem solid gray;
  padding: 0 0.4rem;
  border-radius: 0.3rem;
  color: gray;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s all;
}

.selectedTag {
  color: white;
  background-color: #a60000;
  transition: 0.3s all;
}

.cocktailSearchContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moreButton {
  margin-top: 0;
  margin-bottom: 0.5rem;
  outline: 0;
  border: solid 1px white;
  border-radius: 0.4rem;
  color: gray;
  background-color: white;
  box-shadow: 0 0 2px var(--light-black);
  z-index: 1;
  font-size: 16px;
  padding: 0.5rem 5rem;
  cursor: pointer;
}

.moreButton:hover {
  background-color: var(--sharp-red);
  color: white;
  transition: 0.5s;
}

.noSearchResult {
  margin-top: 3rem;
  font-size: 16px;
}

.noSearchResultDescription {
  margin-top: 1rem;
  margin-left: 2rem;
  list-style: circle;
  color: var(--little-gray);
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .searchedCocktailsContainer {
    grid-template-columns: repeat(2, 280px);
    justify-content: center;
    width: 80vw;
  }

  .searchedCocktailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0 var(--little-dark-white);
  }

  .searchedCocktailImage > img {
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .searchedCocktailsContainer {
    grid-template-columns: repeat(1, 280px);
    margin: 0;
  }

  .searchTabContainerBox {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .searchTabContainer {
    margin-top: 0.5rem;
  }

  .clickedTab,
  .unclickedTab {
    padding: 0 3rem;
  }

  .tagSelectButton {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    margin: 2rem auto 3rem auto;
    outline: 0;
    border: solid 1px var(--sharp-red);
    border-radius: 0.4rem;
    background-color: var(--sharp-red);
    color: white;
    box-shadow: 2px 2px 2px var(--light-black);
    z-index: 1;
  }

  .tagFilterContainer {
    top: -2rem;
    position: relative;
    display: none;
    margin-top: 0;
    margin-bottom: 2rem;
    border-radius: 6px;
    padding: 1.5rem 0.5rem;
    box-shadow: 0 0 20px 0 var(--little-dark-white);
  }

  .filterTag {
    margin: 0.4rem 0.4rem;
    font-size: 1rem;
  }

  .searchContainer {
    margin: 2rem auto 3rem auto;
  }

  .searchedCocktailImage {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    height: 220px;
    width: 220px;
  }

  .searchedCocktailImage > img {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  .search {
    width: 280px;
    height: 2rem;
  }

  .moreButton {
    margin-top: 2rem;
  }

  .moreButton:hover {
    background-color: white;
    color: gray;
    transition: 0s;
  }

  .noSearchResult {
    margin: 0 2rem;
  }
}
