@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

.profile-container {
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans KR", serif;
    align-items: center;
    justify-content: space-around;
    margin: auto 0;
}

.profile-container > h2 {
    color: #a60000;
    font-weight: 300;
}

.profile-image-container {
    width: 90%;
    max-width: 30rem;
    margin: 1rem 0;
}

.profile-image-container > h3 {
    display: inline-block;
    margin: 0 10%;
    padding: 0 1rem 0.3rem;
    border-bottom: #a60000 solid 1px;
}

.profile-image {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

.profile-image-box {
    position: relative;
    width: 15rem;
    height: 15rem;
}

.profile-image-box > .user-image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem #777777;
    border-radius: 50%;
}

.profile-image-box > .user-image > img {
    width: 100%;
    height: 100%;
}

.profile-image-update {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background: #777777;
}

.profile-image-update > label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-update > label > input {
    display: none;
}

.profile-image-update > label > img {
    max-width: 60%;
    max-height: 60%;
}

.profile-detail-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 30rem;
}

.profile-edit-container {
    padding: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: rgba(166, 0, 0, 0.7) 0.2rem solid;
    box-shadow: 0.3rem 0.3rem 0.8rem var(--little-dark-white);
}

.profile-input-container {
    width: 80%;
    margin: 0.3rem 0;
}

.profile-input-container > h3 {
    font-weight: 300;
}

.detail-input > input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #444444;
    background: rgba(100, 100, 100, 0.1);
    border: none;
    border-radius: 5%;
}

.profile-submit {
    width: 100%;
}

.update-submit {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-submit > button {
    width: 50%;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    background: rgba(166, 0, 0, 0.7);
    padding: 0.8rem;
    border: none;
    border-radius: 5%;
}

.withdrawal {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.withdrawal-submit {
    color: #777777;
    display: inline-block;
    font-size: 0.8rem;
    border-bottom: solid 1px #777777;
}

@media screen and (max-width: 700px) {
    .profile-image-container > h3 {
        border: none;
        margin: 0;
    }

    .profile-image-box {
        max-width: 10rem;
        max-height: 10rem;
    }

    .profile-image-update {
        width: 20%;
        height: 20%;
    }

    .detail-input > input {
        font-size: 0.8rem;
    }

    .profile-edit-container {
        width: 100%;
    }

    .profile-input-container {
        width: 90%;
    }
}