[submodule "back/src/main/resources/config"]
	path = back/src/main/resources/config
	url = https://github.com/ParkDooWon/6rinkers-config
[submodule "back/src/main/resources/db"]
	path = back/src/main/resources/db
	url = https://github.com/KueNiYam/6rinkers-db-migration
