.admin {
  display: flex;
  width: 100%;
  height: 100%;
}

.editFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 2;
  overflow: auto !important;
}

.cocktailListContainer {
  width: 100%;
  flex: 1;
  border-left: var(--little-light-black) solid 2px;
  overflow: auto;
}
