.admin-header-container {
  border-bottom: var(--black) 2px solid;
}

.admin-title {
  font-size: 24px;
  margin-right: 2rem;
}

.admin {
  display: flex;
  width: 100%;
  height: calc(100vh - 55px);
  overflow: hidden;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 2;
  overflow: auto !important;
  padding-bottom: 3rem;
}

.file-upload {
  display: flex;
  flex-direction: column;
}

.file-upload-button {
  margin: 0.2rem;
}

.cocktail-list-container {
  width: 100%;
  height: 100%;
  flex: 1;
  border-left: var(--little-light-black) solid 2px;
  overflow: auto !important;
  padding-bottom: 3rem;
}
