.adminHeaderContainer {
  border-bottom: var(--black) 2px solid;
}

.adminTitle {
  font-size: 24px;
}

.admin {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.editFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 2;
  overflow: auto !important;
  padding-bottom: 3rem;
}

.fileUpload {
  display: flex;
  flex-direction: column;
}

.fileUploadButton {
  margin: 0.2rem;
}

.cocktailListContainer {
  width: 100%;
  flex: 1;
  border-left: var(--little-light-black) solid 2px;
  overflow: auto;
  padding-bottom: 3rem;
}
