.cocktails-list {
  display: flex;
  flex-direction: column;
}

.cocktail-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--little-light-black) solid 2px;
}

.cocktail-item:hover {
  background-color: var(--little-dark-white);
}

.cocktail-item > img {
  max-width: 68px;
}

.cocktail-name {
  margin-left: 0.5rem;
}

.delete {
  height: 100%;
  border: black 1px solid;
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.delete:hover {
  background-color: gray;
}
