.cocktails-delete-btn {
  width: 160px;
  margin-top: 0.2rem;
}

.edit-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  user-select: none;
}

.input-container {
  margin-bottom: 0.8rem;
}

.submit {
  user-select: none;
  margin: 0.5rem;
}

.input-box {
  max-width: 400px;
  width: 30vw;
}
