.contentWrapper {
  justify-content: center;
}

.construction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.construction-icon {
  width: 5rem;
  height: 5rem;
}

.construction-icon > img {
  width: 100%;
  height: 100%;
}

.construction-information {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
