.cocktailsListContainer {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.cocktailItem {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    border-bottom: black solid 2px;
}

.cocktailItem > img {
    max-width: 50px;
}