header {
    margin: 35px 5% 35px 5%;
    display: flex;
    justify-content: space-between;
}

.menubar {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    font-size: 30px;
}

.menu a {
    color: #707070;
    text-decoration: none;
}

.cocktail-pick-logo {
    position: relative;
    font-weight: 300;
}

.cocktail-pick-logo .front-style {
    letter-spacing: -0.3px;
    display: inline-block;
    font-size: 30px;
}

.cocktail-pick-logo .back-style {
    letter-spacing: -0.35px;
    display: inline-block;
    font-size: 35px;
    color: #a60000;
    border-bottom: 1px solid;
}