.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 75vh;
  user-select: none;
  margin-top: 5rem;
}

.todayCocktailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  cursor: pointer;
  box-shadow: 0 0 20px 0 var(--little-dark-white);
  border-radius: var(--base-border-radius);
}

.todayCocktailContainer:hover {
  box-shadow: 0 0 20px 10px var(--little-dark-white);
}

.todayCocktailTitle {
  font-size: 20px;
  border-bottom: var(--little-light-black) 1px solid;
  padding: 0 3rem;
}

.todayCocktailImage > img {
  max-width: 450px;
  max-height: 450px;
  pointer-events: none;
}

.todayCocktailName {
  color: var(--red);
  margin-bottom: 2rem;
}

.homeRecommendation {
  display: flex;
  align-items: center;
  height: auto;
  cursor: pointer;
  padding: 0.8rem 8rem;
  margin: 3rem 0 1rem 0;
  border: var(--light-black) 1px solid;
  border-radius: var(--base-border-radius);
  transition: 0.4s ease-in-out;
}

.homeRecommendation:hover {
  color: var(--black);
  background-color: var(--little-light-red);
  border: var(--light-red) 1px solid;
  border-radius: var(--base-border-radius);
  transition: 0.4s ease-in-out;
}

.homeRecommendation a {
  color: var(--black);
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.homeRecommendation:hover a {
  color: var(--white);
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.content {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .home {
    margin-top: 1rem;
  }

  .todayCocktailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75vw;
    padding: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0 20px 0px var(--little-dark-white);
    margin: 0.7rem 0;
  }

  .todayCocktailContainer:hover {
    box-shadow: 0 0 20px 0 var(--little-dark-white);
  }

  .todayCocktailTitle {
    font-size: 18px;
  }

  .todayCocktailImage {
    display: flex;
    justify-content: center;
  }

  .todayCocktailImage > img {
    width: 100%;
    height: 100%;
  }

  .homeRecommendation {
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    transition: none;
  }

  .homeRecommendation:hover {
    color: var(--black);
    transition: none;
  }

  .content {
    font-size: 16px;
  }
}
