.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  order: 2;
  user-select: none;
  flex-shrink: 0;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65%;
  width: 150px;
  border-top: var(--light-black) 1px solid;
  border-bottom: var(--light-black) 1px solid;
  margin-bottom: 0.5rem;
}

.link > a {
  display: flex;
  align-items: center;
}

.github > a > img {
  margin-left: 4px;
  width: 29px;
}

.instagram > a > img {
  width: 32px;
}

.kakaotalk > a > img {
  width: 32px;
  cursor: pointer;
}
