.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.link {
  margin: 0 0.5rem 5px;
}

.link > a {
  display: flex;
  align-items: center;
}

.github > a > img {
  max-width: 48px;
}

.instagram > a > img {
  max-width: 32px;
}
