.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 55px;
}

.adminHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 55px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  height: 100%;
  border-bottom: rgba(17, 17, 17, 0.4) solid 1px;
}

.title {
  justify-self: start;
  font-size: 24px;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  transition: 0.8s ease;
}

.title:hover {
  color: #a60000;
  transition: 0.8s ease;
  cursor: pointer;
}

.title:hover .highlightCharacter {
  color: #111111;
  transition: 0.8s ease;
}

.highlightCharacter {
  color: #a60000;
  font-size: 30px;
  transition: 0.8s ease;
}

.service {
  display: flex;
  align-items: center;
  height: 100%;
}

.serviceItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  border-left: rgba(166, 0, 0, 0.3) 1px solid;
  color: #a60000;
}

.serviceItem:hover {
  background-color: rgba(166, 0, 0, 0.8);
  transition: 0.1s ease;
  color: #ffffff;
  cursor: pointer;
}

.recommendation {
  border-right: rgba(166, 0, 0, 0.3) 1px solid;
}
