.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 55px;
}

.adminHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 55px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  height: 100%;
  border-bottom: var(--light_black) solid 1px;
}

.title {
  justify-self: start;
  font-size: 24px;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  transition: 0.8s ease;
  cursor: pointer;
}

.title:hover {
  color: var(--red);
  transition: 0.8s ease;
}

.title:hover .highlightCharacter {
  color: var(--little-light-black);
  transition: 0.8s ease;
}

.highlightCharacter {
  color: var(--red);
  font-size: 30px;
  transition: 0.8s ease;
}

.service {
  display: flex;
  align-items: center;
  height: 100%;
}

.serviceItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  border-left: var(--light-red) 1px solid;
  color: var(--red);
  cursor: pointer;
}

.serviceItem:hover {
  background-color: var(--little-light-red);
  transition: 0.1s ease;
  color: var(--white);
}

.recommendation {
  border-right: var(--light-red) 1px solid;
}
