.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 55px;
  order: 0;
  flex-shrink: 0;
}

.admin-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  height: 55px;
}

.admin-header-container > a {
  border: var(--black) 1px solid;
  padding: 0.3rem 0.5rem;
}

.admin-header-container > a:hover {
  color: var(--white);
  background-color: var(--black);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  height: 100%;
  border-bottom: var(--light-black) solid 1px;
}

.cover {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: calc(100% - 54px);
  background-color: var(--light-black);
  z-index: 3;
  cursor: pointer;
  overflow: hidden !important;
  touch-action: none;
}

.mobile-nav {
  display: none;
}

.logo-container {
  justify-self: start;
  height: 100%;
  cursor: pointer;
}

.text-link {
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.logo {
  padding-bottom: 5%;
  height: 100%;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: -webkit-fill-available;
}

.service a {
  color: var(--little-light-red);
  text-decoration: none;
  height: 100%;
}

.service-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  color: var(--red);
  cursor: pointer;
}

.service-item:hover {
  background-color: var(--little-light-red);
  transition: 0.1s ease;
  color: var(--white);
}

.navitem-active {
  background-color: var(--little-light-red);
  color: var(--white) !important;
}

.options {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .logo {
    padding-bottom: 0;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 100%;
    border-bottom: var(--light-black) solid 1px;
    overflow: hidden !important;
    touch-action: none;
  }

  .slider-toggle {
    z-index: 10;
  }

  .hamburger-icon,
  .x-icon {
    width: 22px;
    padding-top: 0.5rem;
    cursor: pointer;
  }

  .service-slider {
    position: absolute;
    top: 55px;
    width: 63vw;
    right: -63vw;
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    transition: all 0.35s;
  }

  .service-slider.active {
    display: flex;
    flex-direction: column;
    top: 55px;
    position: fixed;
    width: 63vw;
    right: 0;
    height: calc(100% - 55px);
    background-color: var(--white);
    z-index: 5;
  }

  .service-slider-item {
    z-index: 7;
    font-size: 18px;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--little-light-red);
  }

  .service-slider.active .service-slider-item {
    padding: 1rem;
    color: var(--little-light-red);
    text-decoration: none;
  }

  .service-slider.active .service-slider-item:hover {
    color: var(--white);
    background-color: var(--little-light-red);
  }
}
