.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-wrapper {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
.my-favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  margin: 1rem 0;
  user-select: none;
}

.my-favorites-title {
  width: 90%;
  color: var(--little-gray);
  margin-bottom: 1rem;
}

.my-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0.3rem 0.3rem 0.8rem var(--little-dark-white);
  border-radius: 1rem;
}

.my-favorite {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: 100px;
  justify-content: space-between;
}

.my-favorite-image {
  display: flex;
  justify-content: center;
  height: 100%;
}

.my-favorite-image img {
  height: 100%;
}

.my-favorite-name {
  font-size: 1.2rem;
}

.delete-favorite-container {
  width: 32px;
  margin: 0 0.5rem;
}

.trash-bin-image {
  width: 1rem;
}

.divider {
  width: 80%;
  border-bottom: 1px var(--red) solid;
  align-self: flex-end;
}

@media screen and (max-width: 700px) {
  .my-favorites {
    width: 300px;
    height: 40vh;
  }

  .my-favorite {
    height: 50px;
    min-height: 50px;
  }

  .my-favorite-image {
    height: 100%;
  }

  .my-favorite-name {
    font-size: 1rem;
  }

  .delete-favorite-container {
    width: 24px;
  }
}
