.user-recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-recipe-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.user-recipe-item {
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

.trash-bin-image:hover {
    filter: drop-shadow(0 0 6px var(--red));
    cursor: pointer;
}

.description-textarea-container {
    display: block;
    height: 200px;
    width: 300px;
    border-radius: var(--base-border-radius);
    font-size: 18px;
    text-align: center;
    word-break:break-all;
    text-overflow: clip;
    word-wrap: break-word;
}

.description-textarea-container::placeholder {
    font-size: 18px;
    text-align: center;
}

.description-textarea-container:focus {
    outline: none !important;
    border: 2px solid var(--red);
    box-shadow: 0 2px 5px var(--little-gray);
}
