.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  user-select: none;
}

.question {
  margin: 5vh 0;
  font-size: 1.3rem;
  border-bottom: solid 1px var(--red);
  width: 50%;
  min-width: 500px;
  padding: 0.5rem 0.8rem;
}

.intro-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bartender {
  height: 300px;
}

.dislike-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.toggles {
  display: grid;
  grid-template-columns: repeat(3, 11rem);
}

.tag-name {
  font-size: 1.2rem;
  border-bottom: solid 1px var(--red);
  width: 80%;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 0.5rem 0.8rem;
}

.answer-button {
  border: solid 1px var(--red);
  border-radius: var(--base-border-radius);
  background-color: transparent;
  margin: 1rem 0.5rem 2rem 0.5rem;
  font-size: large;
  padding: 0.5rem 0.8rem;
}

.answer-button:focus {
  outline: 0;
}

.checked {
  background-color: var(--little-light-red);
  color: var(--white);
}

.line-through {
  text-decoration: line-through;
}

.next-stage {
  font-family: inherit;
  font-size: large;
  border: none;
  margin: 2rem 0.5rem 1rem 0.5rem;
  padding: 0.7rem 1.8rem;
  border-radius: var(--base-border-radius);
  background-color: var(--red);
  color: white;
  user-select: none;
}

.next-stage:focus {
  outline: none !important;
}

.next-stage:hover {
  cursor: pointer;
}

.next-stage:disabled {
  color: black;
  background-color: var(--little-dark-white)
}

.next-stage:disabled:hover {
  cursor: default;
}

@media screen and (max-width: 700px) {
  .question-container {
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .question {
    width: 100%;
    min-width: 0;
    font-size: 1rem;
    border: solid 1px var(--red);
    border-radius: var(--base-border-radius);
    background-color: transparent;
    padding: 0.5rem 0.5rem;
  }

  .bartender {
    height: 150px;
  }

  .tag-name {
    font-size: 1rem;
  }

  .answer-button {
    border: solid 1px var(--red);
    border-radius: var(--base-border-radius);
    background-color: transparent;
    margin: 0.5rem 0.3rem 1rem 0.3rem;
    font-size: medium;
    padding: 0.3rem 0.3rem;
  }

  .checked {
    background-color: var(--little-light-red);
    color: var(--white);
  }

  .toggles {
    display: grid;
    grid-template-columns: repeat(2, 9rem);
  }
}
