.question-container {
    width: 60%;
    text-align: center;
    margin: auto;
}

.question-number {
    text-align: left;
    font-size: x-large;
}

.question {
    margin: 10vh 0;
    font-size: x-large;
}

.question-answer-button-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.answer-button {
    border: solid 1px #a60000;
    border-radius : 10px;
    background-color: transparent;
    margin: 3rem;
    font-size: large;
}