:root {
  --black: #000000;
  --little-light-black: #111111;
  --light_black: rgba(17, 17, 17, 0.4);
  --red: #a60000;
  --light-red: rgba(166, 0, 0, 0.3);
  --little-light-red: rgba(166, 0, 0, 0.8);
  --more-light-red: rgba(166, 0, 0, 0.2);
  --white: #ffffff;
  --little-dark-white: #eeeeee;
}

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--little-light-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}