@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    font-family: "Noto Sans KR", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.editFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 2;
    overflow: auto!important;
}

.cocktailListContainer {
    width: 100%;
    flex: 1;
    border-left: solid 2px black;
    overflow: auto;
}