.bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 2;
}

.notice {
  margin: 1rem;
  font-size: 1.5rem;
}
